.header{
    background-color: aqua;
    color: black;
    text-align: center;
    padding: 2%;
}

.navv{
    background-color: red;
    width: 20%;
    height: 400px;
    float: left;
}

.Contentweb{
    float: left;
    background-color: rgb(0, 145, 145);
    width: 80%;
    height: 400px;
    
}

.Contentweb h3, p{
    padding: 2%;
}

.Footer{
    padding: 2%;
    background-color: rgb(153, 255, 255);
    text-align: center;
}
.Footer p{
    color: rgb(245, 7, 7);
}